openapi: 3.0.1
info:
  title: swagger-api
  description: Exposes the OpenAPI spec for an API Endpoint
  version: "1.0"
servers:
  - url: https://apim-55vh-apichat.azure-api.net/docs
paths:
  "/apis/{api-id}":
    get:
      summary: OpenAPI Spec
      description: Returns the OpenAPI specification for a given api-id
      operationId: openapi-spec
      parameters:
        - name: api-id
          in: path
          description: Id of the API inside Azure API Management
          required: true
          schema:
            type: string
        - name: export
          in: query
          description: Export the API as OpenAPI Spec
          required: true
          schema:
            enum:
              - true
            type: boolean
            default: true
        - name: format
          in: query
          description: The format to export the API in.
          required: true
          schema:
            enum:
              - openapi
            type: string
            default: openapi
        - name: api-version
          in: query
          description: Azure Management REST API version
          schema:
            enum:
              - "2022-08-01"
            type: string
            default: "2022-08-01"
      responses:
        "200":
          description: OpenAPI spec in JSON or YAML format for a given API.
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
