{
  "swagger": "2.0",
  "info": {
    "title": "Azure Maps Weather Service",
    "version": "1.1"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "AADToken": [
        "https://atlas.microsoft.com/.default"
      ]
    },
    {
      "SharedKey": []
    },
    {
      "SasToken": []
    }
  ],
  "paths": {
    "/weather/forecast/hourly/{format}": {
      "get": {
        "summary": "Use to get a detailed hourly weather forecast for up to 24 hours or a daily forecast for up to 10 days.",
        "description": "\n\nThe `Get Hourly Forecast` API is an HTTP `GET` that Request detailed weather forecast by the hour for the next 1, 12, 24 (1 day), 72 (3 days), 120 (5 days), and 240 hours (10 days) for the given the given coordinate location.  The API returns details such as temperature, humidity, wind, precipitation, and ultraviolet (UV) index. For more information, see [Request hourly weather forecast data](/azure/azure-maps/how-to-request-weather-data#request-hourly-weather-forecast-data).\n\nIf you are using the Gen1 S0 pricing tier, you can request hourly forecast for the next 1, 12, 24 hours (1 day), and 72 hours (3 days). If you are using Gen1 S1 or Gen2 pricing tier, you can also request hourly forecast for the next 120 (5 days) and 240 hours (10 days).",
        "operationId": "Weather_GetHourlyForecast",
        "x-ms-examples": {
          "Successfully retrieve detailed weather forecast by the hour": {
            "parameters": {
              "api-version": "1.1",
              "format": "json",
              "query": [
                47.632346,
                -122.138874
              ],
              "duration": 12
            },
            "responses": {
              "200": {
                "body": {
                  "forecasts": [
                    {
                      "date": "2019-11-14T16:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": true,
                      "temperature": {
                        "value": 13.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 14.1,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 10.9,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 8.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 311,
                          "localizedDescription": "NW"
                        },
                        "speed": {
                          "value": 3.7,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 5.6,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 72,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 100,
                      "ceiling": {
                        "value": 3901,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 39,
                      "rainProbability": 39,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T17:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 12.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 12.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 10.2,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 7.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 281,
                          "localizedDescription": "W"
                        },
                        "speed": {
                          "value": 5.6,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 7.4,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 73,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 94,
                      "ceiling": {
                        "value": 4054,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 34,
                      "rainProbability": 34,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T18:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 11.3,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 11.3,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 9.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 7.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 206,
                          "localizedDescription": "SSW"
                        },
                        "speed": {
                          "value": 7.4,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 77,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 94,
                      "ceiling": {
                        "value": 4176,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 29,
                      "rainProbability": 29,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T19:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 10.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 9.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 8.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 7,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 169,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 7.4,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 11.1,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 79,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 93,
                      "ceiling": {
                        "value": 4542,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 20,
                      "rainProbability": 20,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T20:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 10.1,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 9.2,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 8.6,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 6.9,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 170,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 11.1,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 80,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 92,
                      "ceiling": {
                        "value": 4389,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 20,
                      "rainProbability": 20,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T21:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 10.1,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 9,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 8.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 7.1,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 170,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 13,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 82,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 91,
                      "ceiling": {
                        "value": 4481,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 20,
                      "rainProbability": 20,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T22:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 9.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 8.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 8.6,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 7.2,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 174,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 13,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 84,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 92,
                      "ceiling": {
                        "value": 4481,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 20,
                      "rainProbability": 20,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T23:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 9.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 8.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 8.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 7,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 175,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 13,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 82,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 94,
                      "ceiling": {
                        "value": 3688,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 20,
                      "rainProbability": 20,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-15T00:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 10.1,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 8.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 8.6,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 6.9,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 176,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 13,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 81,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 97,
                      "ceiling": {
                        "value": 2926,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 20,
                      "rainProbability": 20,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-15T01:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 9.9,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 8.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 8.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 6.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 177,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 13,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 81,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 99,
                      "ceiling": {
                        "value": 2164,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 21,
                      "rainProbability": 21,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-15T02:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 9.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 8.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 8.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 6.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 172,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 13,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 82,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 100,
                      "ceiling": {
                        "value": 1737,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 21,
                      "rainProbability": 21,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-15T03:00:00-08:00",
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "hasPrecipitation": false,
                      "isDaylight": false,
                      "temperature": {
                        "value": 9.7,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 8.6,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 8.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "dewPoint": {
                        "value": 6.9,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 161,
                          "localizedDescription": "SSE"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 13,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "relativeHumidity": 83,
                      "visibility": {
                        "value": 16.1,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 100,
                      "ceiling": {
                        "value": 1311,
                        "unit": "m",
                        "unitType": 5
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "precipitationProbability": 26,
                      "rainProbability": 26,
                      "snowProbability": 0,
                      "iceProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ClientId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/JsonFormat"
          },
          {
            "$ref": "#/parameters/Position"
          },
          {
            "$ref": "#/parameters/WeatherDataUnit"
          },
          {
            "name": "duration",
            "description": "Time frame of the returned weather forecast. By default, the forecast data for next hour will be returned. Available values are\n  * `1` - Return forecast data for the next hour. Default value.\n  * `12` - Return hourly forecast for next 12 hours.\n  * `24` - Return hourly forecast for next 24 hours.\n  * `72` - Return hourly forecast for next 72 hours (3 days).\n  * `120` - Return hourly forecast for next 120 hours (5 days). Only available in S1 SKU. \n  * `240` - Return hourly forecast for next 240 hours (10 days). Only available in S1 SKU.",
            "in": "query",
            "type": "integer"
          },
          {
            "$ref": "#/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HourlyForecastResult"
            }
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/weather/forecast/minute/{format}": {
      "get": {
        "summary": "Use to get a minute-by-minute forecast for the next 120 minutes in intervals of 1, 5 and 15 minutes.",
        "description": "\n\nThe `Get Minute Forecast` API is an HTTP `GET` request that returns minute-by-minute forecasts for a given location for the next 120 minutes.  Users can request weather forecasts in intervals of 1, 5 and 15 minutes.  The response will include details such as the type of precipitation (including rain, snow, or a mixture of both), start time, and precipitation intensity value (dBZ). For more information, see [Request minute-by-minute weather forecast data](/azure/azure-maps/how-to-request-weather-data#request-minute-by-minute-weather-forecast-data).",
        "operationId": "Weather_GetMinuteForecast",
        "x-ms-examples": {
          "Successfully retrieve minute-by-minute forecasts for a given location": {
            "parameters": {
              "api-version": "1.1",
              "format": "json",
              "query": [
                47.632346,
                -122.138874
              ],
              "interval": 15
            },
            "responses": {
              "200": {
                "body": {
                  "summary": {
                    "briefPhrase60": "Rain ending in 25 min",
                    "shortPhrase": "Rain ending in 25 min",
                    "briefPhrase": "Rain ending in 25 min",
                    "longPhrase": "Rain ending in 25 min",
                    "iconCode": 12
                  },
                  "intervalSummaries": [
                    {
                      "startMinute": 0,
                      "endMinute": 24,
                      "totalMinutes": 25,
                      "shortPhrase": "Rain ending in %minute_value min",
                      "briefPhrase": "Rain ending in %minute_value min",
                      "longPhrase": "Rain ending in %minute_value min",
                      "iconCode": 12
                    },
                    {
                      "startMinute": 25,
                      "endMinute": 119,
                      "totalMinutes": 95,
                      "shortPhrase": "No precip for %MINUTE_VALUE min",
                      "briefPhrase": "No precipitation for at least %MINUTE_VALUE min",
                      "longPhrase": "No precipitation for at least %MINUTE_VALUE min",
                      "iconCode": 7
                    }
                  ],
                  "intervals": [
                    {
                      "startTime": "2019-11-14T15:18:00-08:00",
                      "minute": 0,
                      "dbz": 23,
                      "shortPhrase": "Light Rain",
                      "threshold": "LIGHT",
                      "color": {
                        "red": 8,
                        "green": 98,
                        "blue": 2,
                        "hex": "#086202"
                      },
                      "simplifiedColor": {
                        "red": 35,
                        "green": 190,
                        "blue": 39,
                        "hex": "#23BE27"
                      },
                      "precipitationType": "Rain",
                      "iconCode": 12,
                      "cloudCover": 100
                    },
                    {
                      "startTime": "2019-11-14T15:33:00-08:00",
                      "minute": 15,
                      "dbz": 18,
                      "shortPhrase": "Light Rain",
                      "threshold": "LIGHT",
                      "color": {
                        "red": 32,
                        "green": 133,
                        "blue": 9,
                        "hex": "#208509"
                      },
                      "simplifiedColor": {
                        "red": 35,
                        "green": 190,
                        "blue": 39,
                        "hex": "#23BE27"
                      },
                      "precipitationType": "Rain",
                      "iconCode": 12,
                      "cloudCover": 100
                    },
                    {
                      "startTime": "2019-11-14T15:48:00-08:00",
                      "minute": 30,
                      "dbz": 0,
                      "shortPhrase": "No Precipitation",
                      "iconCode": 7,
                      "cloudCover": 100
                    },
                    {
                      "startTime": "2019-11-14T16:03:00-08:00",
                      "minute": 45,
                      "dbz": 0,
                      "shortPhrase": "No Precipitation",
                      "iconCode": 7,
                      "cloudCover": 100
                    },
                    {
                      "startTime": "2019-11-14T16:18:00-08:00",
                      "minute": 60,
                      "dbz": 0,
                      "shortPhrase": "No Precipitation",
                      "iconCode": 7,
                      "cloudCover": 100
                    },
                    {
                      "startTime": "2019-11-14T16:33:00-08:00",
                      "minute": 75,
                      "dbz": 0,
                      "shortPhrase": "No Precipitation",
                      "iconCode": 7,
                      "cloudCover": 100
                    },
                    {
                      "startTime": "2019-11-14T16:48:00-08:00",
                      "minute": 90,
                      "dbz": 0,
                      "shortPhrase": "No Precipitation",
                      "iconCode": 7,
                      "cloudCover": 100
                    },
                    {
                      "startTime": "2019-11-14T17:03:00-08:00",
                      "minute": 105,
                      "dbz": 0,
                      "shortPhrase": "No Precipitation",
                      "iconCode": 7,
                      "cloudCover": 100
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ClientId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/JsonFormat"
          },
          {
            "$ref": "#/parameters/Position"
          },
          {
            "name": "interval",
            "description": "Specifies time interval in minutes for the returned weather forecast. Supported values are\n  * `1` -  Retrieve forecast for 1-minute intervals. Returned by default.\n  * `5` - Retrieve forecasts for 5-minute intervals.\n  * `15` - Retrieve forecasts for 15-minute intervals.",
            "in": "query",
            "type": "integer"
          },
          {
            "$ref": "#/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MinuteForecastResult"
            }
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/weather/forecast/quarterDay/{format}": {
      "get": {
        "summary": "Use to get a Quarter-Day Forecast for the next 1, 5, 10, or 15 days.",
        "description": "\n\nThe `Get Quarter-Day Forecast` API is an HTTP `GET` request that returns a detailed weather forecast by quarter-day for the next 1, 5, 10, or 15 days for a given location. Response data is presented by quarters of the day - morning, afternoon, evening, and overnight. Details such as temperature, humidity, wind, precipitation, and UV index are returned.",
        "operationId": "Weather_GetQuarterDayForecast",
        "x-ms-examples": {
          "Successfully retrieve detailed weather forecast by a given location": {
            "parameters": {
              "api-version": "1.1",
              "format": "json",
              "query": [
                47.632346,
                -122.138874
              ],
              "duration": 1
            },
            "responses": {
              "200": {
                "body": {
                  "forecasts": [
                    {
                      "date": "2019-11-14T00:00:00-08:00",
                      "effectiveDate": "2019-11-14T07:00:00-08:00",
                      "quarter": 0,
                      "iconCode": 12,
                      "iconPhrase": "Showers",
                      "phrase": "Mostly cloudy with a shower in spots",
                      "temperature": {
                        "minimum": {
                          "value": 6.9,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 11.1,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "realFeelTemperature": {
                        "minimum": {
                          "value": 7.9,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 11.2,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "dewPoint": {
                        "value": 7.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "relativeHumidity": 90,
                      "wind": {
                        "direction": {
                          "degrees": 206,
                          "localizedDescription": "SSW"
                        },
                        "speed": {
                          "value": 3.7,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "direction": {
                          "degrees": 192,
                          "localizedDescription": "SSW"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "visibility": {
                        "value": 2,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 99,
                      "hasPrecipitation": true,
                      "precipitationType": "Rain",
                      "precipitationIntensity": "Light",
                      "precipitationProbability": 55,
                      "thunderstormProbability": 20,
                      "totalLiquid": {
                        "value": 0.6,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0.6,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T00:00:00-08:00",
                      "effectiveDate": "2019-11-14T13:00:00-08:00",
                      "quarter": 1,
                      "iconCode": 12,
                      "iconPhrase": "Showers",
                      "phrase": "Mostly cloudy with a shower in spots",
                      "temperature": {
                        "minimum": {
                          "value": 11.3,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 13.7,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "realFeelTemperature": {
                        "minimum": {
                          "value": 11.3,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 14.7,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "dewPoint": {
                        "value": 8.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "relativeHumidity": 76,
                      "wind": {
                        "direction": {
                          "degrees": 296,
                          "localizedDescription": "WNW"
                        },
                        "speed": {
                          "value": 3.7,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "direction": {
                          "degrees": 206,
                          "localizedDescription": "SSW"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "visibility": {
                        "value": 8,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 96,
                      "hasPrecipitation": true,
                      "precipitationType": "Rain",
                      "precipitationIntensity": "Light",
                      "precipitationProbability": 50,
                      "thunderstormProbability": 20,
                      "totalLiquid": {
                        "value": 0.3,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0.3,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T00:00:00-08:00",
                      "effectiveDate": "2019-11-14T19:00:00-08:00",
                      "quarter": 2,
                      "iconCode": 7,
                      "iconPhrase": "Cloudy",
                      "phrase": "Cloudy",
                      "temperature": {
                        "minimum": {
                          "value": 9.8,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 10.4,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "realFeelTemperature": {
                        "minimum": {
                          "value": 8.5,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 9.8,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "dewPoint": {
                        "value": 7,
                        "unit": "C",
                        "unitType": 17
                      },
                      "relativeHumidity": 81,
                      "wind": {
                        "direction": {
                          "degrees": 172,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "direction": {
                          "degrees": 174,
                          "localizedDescription": "S"
                        },
                        "speed": {
                          "value": 13,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "visibility": {
                        "value": 10,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 93,
                      "hasPrecipitation": false,
                      "precipitationProbability": 25,
                      "thunderstormProbability": 0,
                      "totalLiquid": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    },
                    {
                      "date": "2019-11-14T00:00:00-08:00",
                      "effectiveDate": "2019-11-15T01:00:00-08:00",
                      "quarter": 3,
                      "iconCode": 12,
                      "iconPhrase": "Showers",
                      "phrase": "Cloudy with a little rain",
                      "temperature": {
                        "minimum": {
                          "value": 8.9,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 9.9,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "realFeelTemperature": {
                        "minimum": {
                          "value": 6.2,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 8.6,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "dewPoint": {
                        "value": 6.9,
                        "unit": "C",
                        "unitType": 17
                      },
                      "relativeHumidity": 84,
                      "wind": {
                        "direction": {
                          "degrees": 164,
                          "localizedDescription": "SSE"
                        },
                        "speed": {
                          "value": 9.3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "direction": {
                          "degrees": 165,
                          "localizedDescription": "SSE"
                        },
                        "speed": {
                          "value": 14.8,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "visibility": {
                        "value": 9,
                        "unit": "km",
                        "unitType": 6
                      },
                      "cloudCover": 99,
                      "hasPrecipitation": true,
                      "precipitationType": "Rain",
                      "precipitationIntensity": "Light",
                      "precipitationProbability": 59,
                      "thunderstormProbability": 0,
                      "totalLiquid": {
                        "value": 1.4,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "rain": {
                        "value": 1.4,
                        "unit": "mm",
                        "unitType": 3
                      },
                      "snow": {
                        "value": 0,
                        "unit": "cm",
                        "unitType": 4
                      },
                      "ice": {
                        "value": 0,
                        "unit": "mm",
                        "unitType": 3
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ClientId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/JsonFormat"
          },
          {
            "$ref": "#/parameters/Position"
          },
          {
            "$ref": "#/parameters/WeatherDataUnit"
          },
          {
            "name": "duration",
            "description": "Specifies for how many days the quester-day forecast responses are returned. Supported values are:\n  * `1` - Return forecast data for the next day. Returned by default.\n  * `5` - Return forecast data for the next 5 days.\n  * `10` - Return forecast data for next 10 days.\n  * `15` - Return forecast data for the next 15 days.",
            "in": "query",
            "type": "integer"
          },
          {
            "$ref": "#/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuarterDayForecastResult"
            }
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/weather/currentConditions/{format}": {
      "get": {
        "summary": "Use to get current weather conditions.",
        "description": "\n\nThe `Get Current Conditions` API is an HTTP `GET` request that returns detailed current weather conditions such as precipitation, temperature and wind for a given coordinate location. Also, observations from the past 6 or 24 hours for a particular location can be retrieved. The basic information returned with The response includes details such as observation date and time, brief description of the weather conditions, weather icon, precipitation indicator flags, and temperature. Additional details such as RealFeel™ Temperature and UV index are also returned. For more information, see [Request real-time weather data](/azure/azure-maps/how-to-request-weather-data#request-real-time-weather-data)",
        "operationId": "Weather_GetCurrentConditions",
        "x-ms-examples": {
          "Successfully retrieve detailed current weather conditions for a given coordinate location": {
            "parameters": {
              "api-version": "1.1",
              "format": "json",
              "query": [
                47.641268,
                -122.125679
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "results": [
                    {
                      "dateTime": "2019-11-14T15:08:00-08:00",
                      "phrase": "Cloudy",
                      "iconCode": 7,
                      "hasPrecipitation": false,
                      "isDayTime": true,
                      "temperature": {
                        "value": 13.7,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperature": {
                        "value": 13.6,
                        "unit": "C",
                        "unitType": 17
                      },
                      "realFeelTemperatureShade": {
                        "value": 13.6,
                        "unit": "C",
                        "unitType": 17
                      },
                      "relativeHumidity": 75,
                      "dewPoint": {
                        "value": 9.2,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 315,
                          "localizedDescription": "NW"
                        },
                        "speed": {
                          "value": 3.6,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 4.9,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "uvIndex": 0,
                      "uvIndexPhrase": "Low",
                      "visibility": {
                        "value": 8,
                        "unit": "km",
                        "unitType": 6
                      },
                      "obstructionsToVisibility": "",
                      "cloudCover": 95,
                      "ceiling": {
                        "value": 4359,
                        "unit": "m",
                        "unitType": 5
                      },
                      "pressure": {
                        "value": 1014.9,
                        "unit": "mb",
                        "unitType": 14
                      },
                      "pressureTendency": {
                        "localizedDescription": "Steady",
                        "code": "S"
                      },
                      "pastTwentyFourHourTemperatureDeparture": {
                        "value": 1.8,
                        "unit": "C",
                        "unitType": 17
                      },
                      "apparentTemperature": {
                        "value": 16.1,
                        "unit": "C",
                        "unitType": 17
                      },
                      "windChillTemperature": {
                        "value": 13.9,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wetBulbTemperature": {
                        "value": 11.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "precipitationSummary": {
                        "pastHour": {
                          "value": 0.5,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "past3Hours": {
                          "value": 0.8,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "past6Hours": {
                          "value": 0.8,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "past9Hours": {
                          "value": 0.8,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "past12Hours": {
                          "value": 0.8,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "past18Hours": {
                          "value": 0.8,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "past24Hours": {
                          "value": 0.8,
                          "unit": "mm",
                          "unitType": 3
                        }
                      },
                      "temperatureSummary": {
                        "past6Hours": {
                          "minimum": {
                            "value": 8.3,
                            "unit": "C",
                            "unitType": 17
                          },
                          "maximum": {
                            "value": 13.7,
                            "unit": "C",
                            "unitType": 17
                          }
                        },
                        "past12Hours": {
                          "minimum": {
                            "value": 5.9,
                            "unit": "C",
                            "unitType": 17
                          },
                          "maximum": {
                            "value": 13.7,
                            "unit": "C",
                            "unitType": 17
                          }
                        },
                        "past24Hours": {
                          "minimum": {
                            "value": 5.9,
                            "unit": "C",
                            "unitType": 17
                          },
                          "maximum": {
                            "value": 13.7,
                            "unit": "C",
                            "unitType": 17
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ClientId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/JsonFormat"
          },
          {
            "$ref": "#/parameters/Position"
          },
          {
            "$ref": "#/parameters/WeatherDataUnit"
          },
          {
            "name": "details",
            "description": "Return full details for the current conditions. Available values are\n  * `true` - Returns full details. By default all details are returned.\n  * `false` - Returns a truncated version of the current condition data, which includes observation date time, weather phrase, icon code, precipitation indicator flag, and temperature.",
            "in": "query",
            "type": "string"
          },
          {
            "name": "duration",
            "description": "Time frame of the returned weather conditions. By default, the most current weather conditions will be returned. Default value is 0. Supported values are:\n   * `0` - Return the most current weather conditions.\n   * `6` - Return weather conditions from past 6 hours.\n   * `24` - Return weather conditions from past 24 hours.",
            "in": "query",
            "type": "integer"
          },
          {
            "$ref": "#/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CurrentConditionsResult"
            }
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/weather/forecast/daily/{format}": {
      "get": {
        "summary": "Use to get a daily detailed weather forecast for the next 1, 5, 10, 15, 25, or 45 days.",
        "description": "\n\nThe `Get Daily Forecast` API is an HTTP `GET` request that returns detailed weather forecast such as temperature and wind by day for the next 1, 5, 10, 15, 25, or 45 days for a given coordinate location.  The response includes details such as temperature, wind, precipitation, air quality, and UV index. For more information, see [Request daily weather forecast data](/azure/azure-maps/how-to-request-weather-data#request-daily-weather-forecast-data).\n\n If you are using the Gen1 S0 pricing tier, you can request daily forecast for the next 1, 5, 10, and 15 days. If you are using Gen1 S1 or Gen2 pricing tier, you can also request daily forecast for the next 25 days, and 45 days.",
        "operationId": "Weather_GetDailyForecast",
        "x-ms-examples": {
          "Successfully retrieve detailed daily weather forecast for a given coordinate location": {
            "parameters": {
              "api-version": "1.1",
              "format": "json",
              "query": [
                62.6490341,
                30.0734812
              ],
              "duration": 5
            },
            "responses": {
              "200": {
                "body": {
                  "summary": {
                    "startDate": "2019-11-17T09:00:00-08:00",
                    "endDate": "2019-11-17T15:00:00-08:00",
                    "severity": 5,
                    "phrase": "Rain Sunday evening",
                    "category": "rain"
                  },
                  "forecasts": [
                    {
                      "date": "2019-11-13T21:00:00-08:00",
                      "temperature": {
                        "minimum": {
                          "value": 0.8,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 5.3,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "realFeelTemperature": {
                        "minimum": {
                          "value": -3.4,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 1.3,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "realFeelTemperatureShade": {
                        "minimum": {
                          "value": -3.4,
                          "unit": "C",
                          "unitType": 17
                        },
                        "maximum": {
                          "value": 1.6,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "hoursOfSun": 1.1,
                      "degreeDaySummary": {
                        "heating": {
                          "value": 15,
                          "unit": "C",
                          "unitType": 17
                        },
                        "cooling": {
                          "value": 0,
                          "unit": "C",
                          "unitType": 17
                        }
                      },
                      "airAndPollen": [
                        {
                          "name": "AirQuality",
                          "value": 0,
                          "category": "Good",
                          "categoryValue": 1,
                          "type": "Ozone"
                        },
                        {
                          "name": "Grass",
                          "value": 0,
                          "category": "Low",
                          "categoryValue": 1
                        },
                        {
                          "name": "Mold",
                          "value": 0,
                          "category": "Low",
                          "categoryValue": 1
                        },
                        {
                          "name": "Ragweed",
                          "value": 0,
                          "category": "Low",
                          "categoryValue": 1
                        },
                        {
                          "name": "Tree",
                          "value": 0,
                          "category": "Low",
                          "categoryValue": 1
                        },
                        {
                          "name": "UVIndex",
                          "value": 0,
                          "category": "Low",
                          "categoryValue": 1
                        }
                      ],
                      "day": {
                        "iconCode": 12,
                        "iconPhrase": "Showers",
                        "hasPrecipitation": true,
                        "precipitationType": "Rain",
                        "precipitationIntensity": "Light",
                        "shortPhrase": "Cloudy with a few showers",
                        "longPhrase": "Cloudy with a couple of showers, mainly later",
                        "precipitationProbability": 75,
                        "thunderstormProbability": 20,
                        "rainProbability": 75,
                        "snowProbability": 40,
                        "iceProbability": 0,
                        "wind": {
                          "direction": {
                            "degrees": 160,
                            "localizedDescription": "SSE"
                          },
                          "speed": {
                            "value": 16.7,
                            "unit": "km/h",
                            "unitType": 7
                          }
                        },
                        "windGust": {
                          "direction": {
                            "degrees": 160,
                            "localizedDescription": "SSE"
                          },
                          "speed": {
                            "value": 48.2,
                            "unit": "km/h",
                            "unitType": 7
                          }
                        },
                        "totalLiquid": {
                          "value": 6.1,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "rain": {
                          "value": 6.1,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "snow": {
                          "value": 0,
                          "unit": "cm",
                          "unitType": 4
                        },
                        "ice": {
                          "value": 0,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "hoursOfPrecipitation": 3.5,
                        "hoursOfRain": 3.5,
                        "hoursOfSnow": 0,
                        "hoursOfIce": 0,
                        "cloudCover": 100
                      },
                      "night": {
                        "iconCode": 12,
                        "iconPhrase": "Showers",
                        "hasPrecipitation": true,
                        "precipitationType": "Rain",
                        "precipitationIntensity": "Light",
                        "shortPhrase": "Breezy early; cloudy",
                        "longPhrase": "Breezy this evening; otherwise, low clouds",
                        "precipitationProbability": 65,
                        "thunderstormProbability": 0,
                        "rainProbability": 64,
                        "snowProbability": 40,
                        "iceProbability": 0,
                        "wind": {
                          "direction": {
                            "degrees": 181,
                            "localizedDescription": "S"
                          },
                          "speed": {
                            "value": 20.4,
                            "unit": "km/h",
                            "unitType": 7
                          }
                        },
                        "windGust": {
                          "direction": {
                            "degrees": 170,
                            "localizedDescription": "S"
                          },
                          "speed": {
                            "value": 42.6,
                            "unit": "km/h",
                            "unitType": 7
                          }
                        },
                        "totalLiquid": {
                          "value": 4,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "rain": {
                          "value": 4,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "snow": {
                          "value": 0,
                          "unit": "cm",
                          "unitType": 4
                        },
                        "ice": {
                          "value": 0,
                          "unit": "mm",
                          "unitType": 3
                        },
                        "hoursOfPrecipitation": 2.5,
                        "hoursOfRain": 2.5,
                        "hoursOfSnow": 0,
                        "hoursOfIce": 0,
                        "cloudCover": 98
                      },
                      "sources": [
                        "AccuWeather"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ClientId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/JsonFormat"
          },
          {
            "$ref": "#/parameters/Position"
          },
          {
            "$ref": "#/parameters/WeatherDataUnit"
          },
          {
            "name": "duration",
            "description": "Specifies for how many days the daily forecast responses are returned. Available values are\n  * `1` - Return forecast data for the next day. Returned by default.\n  * `5` - Return forecast data for the next 5 days.\n  * `10` - Return forecast data for the next 10 days.\n  * `25` - Return forecast data for the next 25 days. Only available in S1 SKU.\n  * `45` - Return forecast data for the next 45 days. Only available in S1 SKU.",
            "in": "query",
            "type": "integer"
          },
          {
            "$ref": "#/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyForecastResult"
            }
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/weather/route/{format}": {
      "get": {
        "summary": "Use to get a locationally precise, up-to-the-minute forecast that includes weather hazard assessments and notifications along a route.",
        "description": "\n\nThe `Get Weather Along Route` API is an HTTP `GET` request that returns hyper local (one kilometer or less), up-to-the-minute weather nowcasts, weather hazard assessments, and notifications along a route described as a sequence of waypoints. \n This includes a list of weather hazards affecting the waypoint or route, and the aggregated hazard index for each waypoint might be used to paint each portion of a route according to how safe it is for the driver. When submitting the waypoints, it is recommended to stay within, or close to, the distance that can be traveled within 120-mins or shortly after. Data is updated every five minutes. \n \n The service supplements Azure Maps [Route Service](https://docs.microsoft.com/rest/api/maps/route) that allows you to first request a route between an origin and a destination and use that as an input for Weather Along Route endpoint.\n \n In addition, the service supports scenarios to generate weather notifications for waypoints that experience an increase in intensity of a weather hazard. For example, if the vehicle is expected to begin experiencing heavy rain as it reaches a waypoint, a weather notification for heavy rain will be generated for that waypoint allowing the end product to display a heavy rain notification before the driver reaches that waypoint. \n The trigger for when to display the notification for a waypoint could be based, for example, on a [geofence](https://docs.microsoft.com/azure/azure-maps/tutorial-iot-hub-maps), or selectable distance to the waypoint.\n\n The API covers all regions of the planet except latitudes above Greenland and Antarctica.",
        "operationId": "Weather_GetWeatherAlongRoute",
        "x-ms-examples": {
          "Successfully retrieve detailed weather casts along a route described as a sequence of waypoints": {
            "parameters": {
              "api-version": "1.1",
              "format": "json",
              "query": "38.907,-77.037,0:38.907,-77.009,10:38.926,-76.928,20:39.033,-76.852,30:39.168,-76.732,40:39.269,-76.634,50:39.287,-76.612,60"
            },
            "responses": {
              "200": {
                "body": {
                  "summary": {
                    "iconCode": 35,
                    "hazards": {
                      "maxHazardIndex": 0
                    }
                  },
                  "waypoints": [
                    {
                      "iconCode": 38,
                      "shortPhrase": "Mostly cloudy",
                      "isDayTime": false,
                      "cloudCover": 70,
                      "temperature": {
                        "value": 3.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 142
                        },
                        "speed": {
                          "value": 2,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 3,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "precipitation": {
                        "dbz": 0,
                        "type": "SNOW"
                      },
                      "lightningCount": 0,
                      "sunGlare": {
                        "calculatedVehicleHeading": 90,
                        "glareIndex": 0
                      },
                      "hazards": {
                        "maxHazardIndex": 0
                      },
                      "notifications": []
                    },
                    {
                      "iconCode": 38,
                      "shortPhrase": "Mostly cloudy",
                      "isDayTime": false,
                      "cloudCover": 65,
                      "temperature": {
                        "value": 3.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 166
                        },
                        "speed": {
                          "value": 1,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 2,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "precipitation": {
                        "dbz": 0,
                        "type": "SNOW"
                      },
                      "lightningCount": 0,
                      "sunGlare": {
                        "calculatedVehicleHeading": 77,
                        "glareIndex": 0
                      },
                      "hazards": {
                        "maxHazardIndex": 0
                      },
                      "notifications": []
                    },
                    {
                      "iconCode": 35,
                      "shortPhrase": "Partly cloudy",
                      "isDayTime": false,
                      "cloudCover": 43,
                      "temperature": {
                        "value": 3.2,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 163
                        },
                        "speed": {
                          "value": 2,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 2,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "precipitation": {
                        "dbz": 0,
                        "type": "SNOW"
                      },
                      "lightningCount": 0,
                      "sunGlare": {
                        "calculatedVehicleHeading": 44,
                        "glareIndex": 0
                      },
                      "hazards": {
                        "maxHazardIndex": 0
                      },
                      "notifications": []
                    },
                    {
                      "iconCode": 35,
                      "shortPhrase": "Partly cloudy",
                      "isDayTime": false,
                      "cloudCover": 34,
                      "temperature": {
                        "value": 1.6,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 189
                        },
                        "speed": {
                          "value": 2,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 4,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "precipitation": {
                        "dbz": 0,
                        "type": "SNOW"
                      },
                      "lightningCount": 0,
                      "sunGlare": {
                        "calculatedVehicleHeading": 32,
                        "glareIndex": 0
                      },
                      "hazards": {
                        "maxHazardIndex": 0
                      },
                      "notifications": []
                    },
                    {
                      "iconCode": 38,
                      "shortPhrase": "Mostly cloudy",
                      "isDayTime": false,
                      "cloudCover": 54,
                      "temperature": {
                        "value": 0.5,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 202
                        },
                        "speed": {
                          "value": 4,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 5,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "precipitation": {
                        "dbz": 0,
                        "type": "SNOW"
                      },
                      "lightningCount": 0,
                      "sunGlare": {
                        "calculatedVehicleHeading": 36,
                        "glareIndex": 0
                      },
                      "hazards": {
                        "maxHazardIndex": 0
                      },
                      "notifications": []
                    },
                    {
                      "iconCode": 35,
                      "shortPhrase": "Partly cloudy",
                      "isDayTime": false,
                      "cloudCover": 46,
                      "temperature": {
                        "value": 2.4,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 222
                        },
                        "speed": {
                          "value": 4,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 5,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "precipitation": {
                        "dbz": 0,
                        "type": "SNOW"
                      },
                      "lightningCount": 0,
                      "sunGlare": {
                        "calculatedVehicleHeading": 38,
                        "glareIndex": 0
                      },
                      "hazards": {
                        "maxHazardIndex": 0
                      },
                      "notifications": []
                    },
                    {
                      "iconCode": 35,
                      "shortPhrase": "Partly cloudy",
                      "isDayTime": false,
                      "cloudCover": 39,
                      "temperature": {
                        "value": 2.3,
                        "unit": "C",
                        "unitType": 17
                      },
                      "wind": {
                        "direction": {
                          "degrees": 231
                        },
                        "speed": {
                          "value": 4,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "windGust": {
                        "speed": {
                          "value": 5,
                          "unit": "km/h",
                          "unitType": 7
                        }
                      },
                      "precipitation": {
                        "dbz": 0,
                        "type": "SNOW"
                      },
                      "lightningCount": 0,
                      "sunGlare": {
                        "calculatedVehicleHeading": 43,
                        "glareIndex": 0
                      },
                      "hazards": {
                        "maxHazardIndex": 0
                      },
                      "notifications": []
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ClientId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/JsonFormat"
          },
          {
            "name": "query",
            "description": "Coordinates through which the route is calculated, separated by colon (:) and entered in chronological order. A minimum of two waypoints is required. A single API call may contain up to 60 waypoints. \nA waypoint indicates location, ETA, and optional heading: latitude,longitude,ETA,heading, where\n  * `Latitude` - Latitude coordinate in decimal degrees.\n  * `Longitude` - Longitude coordinate in decimal degrees.\n  * `ETA (estimated time of arrival)` - The number of minutes from the present time that it will take for the vehicle to reach the waypoint. Allowed range is from 0.0 to 120.0 minutes.\n  * `Heading` - An optional value indicating the vehicle heading as it passes the waypoint. Expressed in clockwise degrees relative to true north. This is issued to calculate sun glare as a driving hazard. Allowed range is from 0.0 to 360.0 degrees. If not provided, a heading will automatically be derived based on the position of neighboring waypoints.\n\nIt is recommended to stay within, or close to, the distance that can be traveled within 120-mins or shortly after. This way a more accurate assessment can be provided for the trip and prevent isolated events not being captured between waypoints.  Information can and should be updated along the route (especially for trips greater than 2 hours) to continuously pull new waypoints moving forward, but also to ensure that forecast information for content such as precipitation type and intensity is accurate as storms develop and dissipate over time.",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "$ref": "#/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WeatherAlongRouteResult"
            }
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/weather/severe/alerts/{format}": {
      "get": {
        "summary": "Use to get information about severe weather conditions such as hurricanes, thunderstorms, flooding, lightning, heat waves or forest fires for a given location.",
[...]
